html{
    background-image: url(./siteImages2/underconstructiongradient.jpg);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 0 14vh;
    position: relative;
}

.smContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.body{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.body h1{
    -webkit-text-stroke: 2px white;
    font-size: 12vh;
    color: transparent;
    text-align: center;
    background: url(./siteImages2/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    font-weight: 900;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.smContainer2{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.homeButton{
    height: 43px;
    border: 2px solid white;
    border-radius: 20%;
    padding: 5px;
    direction: reverse;
    transition: 0.3s;
}

.homeButton:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.144);
}