html{
    background-image: url(./siteImages2/AboutPageGradient.jpg);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 0 14vh;
    position: relative;
}

nav{
    position: relative;
    bottom: 3%;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 1px;
}

.logo{
    position: relative;
    right: 3%;
    width: 15%;
    height: auto;
}

.homeButton{
    width: 15%;
    height: auto;
    cursor: pointer;
    position: relative;
    bottom: 3px;
    left: 25vh;
    direction: reverse;
    transition: 0.3s;
}

.homeButton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

nav ul{
    flex: 1;
    text-align: right;
    padding-right: 40px;
    position: relative;
    left: 25vh;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li .nav-bar{
    color: white;
	font-size: 3vh;
    padding: 5px 13px;
    text-decoration: none;
    position: relative;
}

nav ul li .nav-bar::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    transition: width 0.3s;
}

nav ul li .nav-bar:hover::after{
    width: 60%;
}

.body{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    position: relative;
    bottom: 1%;
}

.body h1{
    -webkit-text-stroke: 2px white;
    font-size: 19vh;
    color: transparent;
    text-align: center;
    background: url(./siteImages2/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    font-weight: 900;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.contacts{
    margin-left: auto;
    margin-right: auto;
    width: 120vh;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    font-size: 4vh;
    display: flex;
}

.contacts .card{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
}

.contacts .card h2{
    font-weight: 800;
}

.contacts .card .links{
    text-align: center;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 7px;
}

.contacts .rohan .links{
    padding-left: 5.7vh;
    padding-right: 5.7vh;
}

.contacts .card .links p{
    font-size: 2.3vh;
    font-weight: 400;
    text-align: left;
}