body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Poppins, 'Times New Roman', Times, serif;
}

:root{
    --low-white: rgba(255, 255, 255, 0.644);
    --btn-bg: rgba(255, 255, 255, 0.144);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.jl-btn-1{ 
    font-weight: 200;
    padding: 8px 20px;
    margin: 0 10px;
    border: 1.5px white solid;
    cursor: pointer;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    transition: 0.25s;
    backdrop-filter: blur(20px);
    display: flex;
}

.jl-btn-1:hover{
    transform: scale(1.05);
    background-color: var(--btn-bg);
    transition: 0.25s;
}